.page-front[data-v-477672ee] {
  margin-bottom: 5rem;
}
.page-front h1[data-v-477672ee] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 2.5rem;
}
.page-front .byline[data-v-477672ee] {
  border-bottom-width: 2px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.page-front .byline[data-v-477672ee],
.page-front .preamble[data-v-477672ee] {
  font-weight: 700;
  margin-top: 2rem;
}
.page-front .preamble[data-v-477672ee] {
  font-size: 1.25rem;
  line-height: 2rem;
}
.page-front section.sidebar-section[data-v-477672ee] {
  margin: 0 0 2rem;
}
.page-front section.sidebar-section h2[data-v-477672ee] {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.page-front section.sidebar-section .block[data-v-477672ee] {
  border-radius: 0.375rem;
  overflow: hidden;
}
.page-front section.sidebar-section .block h2[data-v-477672ee] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  text-align: center;
}
.page-front section.sidebar-section .block__content[data-v-477672ee] {
  padding: 1rem;
}
.page-front section.sidebar-section.more .block[data-v-477672ee] {
  background-color: #38aa83;
}
.page-front section.sidebar-section.more .block h2[data-v-477672ee] {
  color: #38aa83;
}
.page-front section.sidebar-section.more .block__content ul[data-v-477672ee] {
  margin-bottom: 1rem;
}
.page-front
  section.sidebar-section.more
  .block__content
  ul
  li[data-v-477672ee] {
  margin-top: 1rem;
  text-align: center;
}
.page-front
  section.sidebar-section.more
  .block__content
  ul
  li
  a[data-v-477672ee] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.page-front
  section.sidebar-section.more
  .block__content
  ul
  li
  a[data-v-477672ee]:hover {
  opacity: 0.7;
}
