.tags-list[data-v-6192b8be] {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.25rem;
  line-height: 1.4rem;
  margin: 0;
  max-width: 100%;
  padding-top: 0;
  text-align: center;
  width: 100vw;
}
.tags-list ul[data-v-6192b8be] {
  display: inline-block;
  list-style-type: none;
  margin: -0.5rem;
  padding-left: 0;
  padding-top: 0;
}
.tags-list ul li[data-v-6192b8be] {
  display: inline-block;
  padding: 0.5rem;
}
.tags-list ul li:first-child a[data-v-6192b8be] {
  color: #e6007e !important;
}
.tags-list ul li:first-child a[data-v-6192b8be]:first-child:before {
  border-bottom: 3px solid #e6007e;
  border-right: 3px solid #e6007e;
}
.tags-list ul li a[data-v-6192b8be] {
  background-color: #fff;
  border-radius: 9999px;
  color: #5ec19f;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  padding: 6px 15px 5px 30px;
  position: relative;
  text-align: center;
  transition: 0.3s ease;
}
@media (min-width: 768px) {
  .tags-list ul li a[data-v-6192b8be] {
    padding: 9px 20px 8px 35px;
  }
}
.tags-list ul li a[data-v-6192b8be]:after,
.tags-list ul li a[data-v-6192b8be]:before {
  transition: 0.4s;
}
.tags-list ul li a[data-v-6192b8be]:before {
  border-bottom: 3px solid #5ec19f;
  border-radius: 2px;
  border-right: 3px solid #5ec19f;
  content: "";
  height: 10px;
  left: 10px;
  position: absolute;
  top: 11px;
  transform: rotate(-45deg);
  transition: 0.4s;
  width: 10px;
}
@media (min-width: 768px) {
  .tags-list ul li a[data-v-6192b8be]:before {
    left: 12px;
    top: 14px;
  }
}
.tags-list ul li a[data-v-6192b8be]:hover:before {
  transform: rotate(-45deg) translate(2px) translateY(2px);
}
.tags-list ul li a[data-v-6192b8be]:hover:after {
  transform: scaleX(1);
}
@media (min-width: 768px) {
  .tags-list[data-v-6192b8be] {
    margin-bottom: 2.5em;
  }
}
.tags-list .btn-more[data-v-6192b8be] {
  border: 3px solid #fff;
  border-radius: 9999px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2rem;
  padding: 0.3em 1em 0.2em;
}
.tags-list .btn-more[data-v-6192b8be]:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 768px) {
  .tags-list .btn-more[data-v-6192b8be] {
    text-align: left;
  }
}
.page-search[data-v-99e80430] {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (min-width: 768px) {
  .page-search[data-v-99e80430] {
    flex-direction: column;
  }
}
.page-search .links[data-v-99e80430] {
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: 768px;
}
@media (min-width: 768px) {
  .page-search .links[data-v-99e80430] {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}
.page-search .search[data-v-99e80430] {
  width: 100%;
}
